# Ignore bundler config.
/.bundle

# Ignore bundler gems.
vendor/bundle

# Ignore config
/config/secrets.yml
/config/database.yml
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
